/* calculo.html */
.center{
  max-width: 600px;
  margin: auto;
  background: rgb(83, 83, 83);
  padding: 20px;
  height: 100%;
  text-align: center;
  color: white
}
.calc{
  margin: 1% 0 1% 0;
  padding: 10px;
  background-color: rgba(244, 247, 247, 0.116);
  border-radius: 10px;
}
/* calculo.html */


/* criar tag body */
body{
  margin: 0%;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30px;
}

.topnav{
  overflow: hidden;
  background-color: #333;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  .topnav a.active{
    background-color: #DC143C;
    color: white;
  }
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #DC143C;
  color: white;
}